<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <style>
        .container {
            text-align: center; /* Center align the text */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>About Me</h1>
        <p>
            Hello I'm James Finkelstein, I live in Memphis TN and am a Software Engineer. One who doesn't really know what he's doing
        </p>
        <p>
            I will have a Bachelors in Computer Science by the end of 2024.
        </p>
        <p>
            I know Python, Ruby, C/C++, HTML, and some Javascript.
        </p>
    </div>
</body>
{% endblock %}
</html>
