<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="styles.css"> <!-- Assuming you have a separate CSS file for styles -->
</head>
<body>
    <section class="hero">
        <div class="container">
            <h1>Contact Me</h1>
            <p>Feel free to reach out to me!</p>
        </div>
    </section>

    <section class="cards">
        <div class="container">
            <div class="card">
                <h2>Email</h2>
                <p>jfnklst2@memphis.edu</p>
            </div>
            <div class="card">
                <h2>Phone</h2>
                <p>+1 (901) 290-6348</p>
            </div>
             <div class="card">
                <h2>Github</h2>
                <p><a href="https://github.com/JamesF243">JamesF243</a></p>
            </div>
        </div>
    </section>
</body>
{% endblock %}
</html>
