<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Work</title>
    <style>
        .container {
            text-align: center; /* Center align the text */
        }
        .work-item {
            display: inline-block;
            margin: 20px;
        }
        .work-item img {
            width: 300px;
            height: auto;
        }
        .work-item p {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>My Work</h1>
        <p>These are some of the projects I've made and completed:</p>
        <div class="work-item">
            <img src="{% static 'home/img/ruby_poker_game.jpg' %}" alt="Ruby Poker Game">
            <p>Ruby Poker Game</p>
        </div>
        <div class="work-item">
            <img src="{% static 'home/img/cpp_go_fish_game.jpg' %}" alt="C++ Go Fish Game">
            <p>C++ Go Fish Game</p>
        </div>
        <div class="work-item">
            <img src="{% static 'home/img/python_qr_code_scanner.jpg' %}" alt="Python QR Code Scanner">
            <p>Python QR Code Scanner</p>
        </div>
    </div>    
</body>
{% endblock %}
</html>
